.main_container[b-u8mzjbkvyi] {
    background-color: #6C63FF;
    margin: auto;
    height: 70vh;
    box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
    border-radius: 50px;
}

.main_container .text-center[b-u8mzjbkvyi] {
    padding: 1rem;
    color: wheat;
}

.main_container[b-u8mzjbkvyi]{
    overflow: auto;
}

    .main_container[b-u8mzjbkvyi]::-webkit-scrollbar {
        display: none;
    }

.data-row[b-u8mzjbkvyi] {
    transition: background-color 0.2s ease-in-out;
}

.data-row:hover[b-u8mzjbkvyi] {
        background-color: #f5f5f5;
        transition-delay: 0.2s;
        cursor: pointer;
}

.table[b-u8mzjbkvyi] {
    display: table;
    width: 100%;
    border-collapse: collapse;
    margin-top: 1rem;
    color: black;
}

.thead[b-u8mzjbkvyi] {
    display: table-header-group;
    font-weight: bold;
}

.tbody[b-u8mzjbkvyi] {
    display: table-row-group;
}

.tr[b-u8mzjbkvyi] {
    display: flex;
    border-bottom: 1px solid black;
}

.th[b-u8mzjbkvyi],
.td[b-u8mzjbkvyi] {
    display: table-cell;
    padding: 5px;
    width:20%;
}

.partialZone[b-u8mzjbkvyi] {
    background-color: #FED66B;
    border-bottom-right-radius: 25px;
    border-bottom-left-radius:25px;
}

.planePath[b-u8mzjbkvyi] {
    stroke: #D9DADA;
    stroke-width: .1%;
    stroke-width: .5%;
    stroke-dasharray: 1% 2%;
    stroke-linecap: round;
    fill: none;
}

.fil1[b-u8mzjbkvyi] {
    fill: #D9DADA;
}

.fil2[b-u8mzjbkvyi] {
    fill: #C5C6C6;
}

.fil4[b-u8mzjbkvyi] {
    fill: #9D9E9E;
}

.fil3[b-u8mzjbkvyi] {
    fill: #AEAFB0;
}

svg[b-u8mzjbkvyi] {
    height: 10vh; /* adjust this value to fit your footer */
}

:root[b-u8mzjbkvyi] {
    --primary: #11998e;
    --secondary: #38ef7d;
    --white: #fff;
    --gray: #9b9b9b;
}

.form__group[b-u8mzjbkvyi] {
    position: relative;
    padding: 15px 0 0;
    margin-top: 10px;
    margin:auto;
    width: 20%;
}

.form__field[b-u8mzjbkvyi] {
    font-family: inherit;
    width: 100%;
    border: 0;
    border-bottom: 2px solid var(--gray);
    outline: 0;
    font-size: 1.3rem;
    color: var(--white);
    padding: 7px 0;
    background: transparent;
    transition: border-color 0.2s;
    text-align: center;
}

    .form__field[b-u8mzjbkvyi]::placeholder {
        color: transparent;
    }

    .form__field:placeholder-shown ~ .form__label[b-u8mzjbkvyi] {
        font-size: 1.3rem;
        cursor: text;
        top: 20px;
    }

.form__label[b-u8mzjbkvyi] {
    position: absolute;
    top: 0;
    display: block;
    transition: 0.2s;
    font-size: 1rem;
    color: var(--gray);
    width:100%;
}

.form__field:focus ~ .form__label[b-u8mzjbkvyi] {
    position: absolute;
    top: 0;
    display: block;
    transition: 0.2s;
    font-size: 1rem;
    color: var(--primary);
    text-align:center;
}

.form__field:focus[b-u8mzjbkvyi] {
    padding-bottom: 6px;
    border-width: 3px;
    border-image: linear-gradient(to right, var(--primary), var(--secondary));
    border-image-slice: 1;
}

.form__field:required[b-u8mzjbkvyi],
.form__field:invalid[b-u8mzjbkvyi] {
    box-shadow: none;
}
