@model IEnumerable<FlightManagerApp.Models.Flight>

@{
    ViewData["Title"] = "Home Page";
}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>  
    <div class="main_container">
    <div class="text-center">
        <h1 class="display-4">Flights</h1>
            <table class="table">
                <thead>
                    <tr>
                        <th>
                            Departure Location
                        </th>
                        <th>
                            Arrival Location
                        </th>
                        <th>
                            Flight Start
                        </th>
                        <th>
                            Flight Duration
                        </th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model)
                    {
                        <tr class="data-row">
                            <td>
                                @Html.DisplayFor(modelItem => item.DepartureLocation)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.ArrivalLocation)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.DepartureDateTime)
                            </td>
                            <td>
                                @((item.ArrivalDateTime - item.DepartureDateTime).ToString(@"hh\:mm")) Hours
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
            <div id="popup-container" class="popup-container">
                <div id="popup" class="popup">
                    <form>
                        <label for="first-name">First Name:</label>
                        <input type="text" id="first-name" name="first-name">
                        <label for="last-name">Last Name:</label>
                        <input type="text" id="last-name" name="last-name">
                        <button type="submit">Submit</button>
                    </form>
                </div>
            </div>
    </div>
    </div>
    <script>
                let popupContainer = document.getElementById("popup-container");
        let popup = document.getElementById("popup");
        let dataRows = document.querySelectorAll(".data-row");

        dataRows.forEach((row) => {
            row.addEventListener("click", (e) => {
                popup.classList.remove("hide");
                popup.classList.add("show");
                popupContainer.classList.remove("hide");
                popupContainer.classList.add("show");
            });
        });

        popupContainer.addEventListener("click", (e) => {
            if (e.target === popupContainer) {
                popup.classList.remove("show");
                popup.classList.add("hide");
                popupContainer.classList.remove("show");
                popupContainer.classList.add("hide");
            }
        });
    </script>
</body>
</html>

