@model IEnumerable<FlightManagerApp.Models.Flight>

@{
    ViewData["Title"] = "Home Page";
}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <title>Document</title>
</head>
<body>  
    <div class="main_container">
    <div class="text-center">
        <h1 class="display-4">Flights</h1>
            <div class="table">
                <div class="thead">
                    <div class="tr">
                        <div class="th">
                            Flight
                        </div>
                        <div class="th">
                            Departure Location
                        </div>
                        <div class="th">
                            Arrival Location
                        </div>
                        <div class="th">
                            Flight Start
                        </div>
                        <div class="th">
                            Flight Duration
                        </div>
                    </div>
                </div>
                <div class="tbody">
                    @foreach (var item in Model)
                    {
                        <div class="tr data-row" id="row">
                            <div class="td">
                                F@(item.FlightId.ToString())@(item.DepartureLocation[0])@(item.ArrivalLocation[0])
                            </div>
                            <div class="td">
                                @Html.DisplayFor(modelItem => item.DepartureLocation)
                            </div>
                            <div class="td">
                                @Html.DisplayFor(modelItem => item.ArrivalLocation)
                            </div>
                            <div class="td">
                                @Html.DisplayFor(modelItem => item.DepartureDateTime)
                            </div>
                            <div class="td">
                                @((item.ArrivalDateTime - item.DepartureDateTime).ToString(@"hh\:mm")) Hours
                            </div>
                        </div>
                            <div class="partialZone">
                                
                            </div>
                    }
                </div>
            </div>
        </div>
        </div>
    <script>
        let dataRows = document.querySelectorAll(".data-row");

        let partialZones = document.querySelectorAll(".partialZone");
        let isPartialZoneDisplayed = false;

        $(function () {
            dataRows.forEach((row, index) => {
                row.addEventListener("click", (e) => {
                    if (!isPartialZoneDisplayed) {
                        var flightId = 1; // Replace with the actual flight ID
                        $.ajax({
                            type: 'GET',
                            url: '/Reservations/PartialCreate',
                            data: { flightId: flightId },
                            success: function (result) {
                                $(partialZones[index]).html(result).show();
                                isPartialZoneDisplayed = true;
                            },
                            error: function (xhr, status, error) {
                                console.log(xhr.responseText);
                            }
                        });
                    } else {
                        $(partialZones[index]).hide();
                        isPartialZoneDisplayed = false;
                    }
                });
            });
        });
    </script>
</body>
</html>

