@model IEnumerable<FlightManagerApp.Models.Flight>

@{
    ViewData["Title"] = "Home Page";
}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>  
    <div class="main_container">
    <div class="text-center">
        <h1 class="display-4">Flights</h1>
            <table class="table">
                <thead>
                    <tr>
                        <th>
                            Flight
                        </th>
                        <th>
                            Departure Location
                        </th>
                        <th>
                            Arrival Location
                        </th>
                        <th>
                            Flight Start
                        </th>
                        <th>
                            Flight Duration
                        </th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model)
                    {
                        <tr class="data-row">
                            <td>
                                F@(item.FlightId.ToString())@(item.DepartureLocation[0])@(item.ArrivalLocation[0])
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.DepartureLocation)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.ArrivalLocation)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.DepartureDateTime)
                            </td>
                            <td>
                                @((item.ArrivalDateTime - item.DepartureDateTime).ToString(@"hh\:mm")) Hours
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
</body>
</html>

