/* Please see documentation at https://docs.microsoft.com/aspnet/core/client-side/bundling-and-minification
for details on configuring this project to bundle and minify static web assets. */

html[b-pyjl9ugnzs] {
    height: 100%;
}

body[b-pyjl9ugnzs] {
    font-family: 'Roboto', sans-serif;
}

a.navbar-brand[b-pyjl9ugnzs] {
  white-space: normal;
  text-align: center;
  word-break: break-all;
}

a[b-pyjl9ugnzs] {
  color: #0077cc;
}

.btn-primary[b-pyjl9ugnzs] {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}

.nav-pills .nav-link.active[b-pyjl9ugnzs], .nav-pills .show > .nav-link[b-pyjl9ugnzs] {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}

.border-top[b-pyjl9ugnzs] {
  border-top: 1px solid #e5e5e5;
}
.border-bottom[b-pyjl9ugnzs] {
  border-bottom: 1px solid #e5e5e5;
}

.box-shadow[b-pyjl9ugnzs] {
  box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05);
}

button.accept-policy[b-pyjl9ugnzs] {
  font-size: 1rem;
  line-height: inherit;
}

.footer[b-pyjl9ugnzs] {
  position: absolute;
  bottom: 0;
  width: 100%;
  white-space: nowrap;
  line-height: 60px;
}

footer .container[b-pyjl9ugnzs] {
    color: black;
}

.container-fluid[b-pyjl9ugnzs] {
   
}

.navbar[b-pyjl9ugnzs] {
    padding: 2rem 2rem;
    background: rgb(255,255,255);
    background: linear-gradient(180deg, rgba(255,255,255,1) 0%, rgba(255,255,255,0.3785889355742297) 74%, rgba(205,193,255,1) 100%);
}

.navbar[b-pyjl9ugnzs], navbar-expand-sm[b-pyjl9ugnzs], navbar-toggleable-sm[b-pyjl9ugnzs], navbar-light[b-pyjl9ugnzs], mb-3[b-pyjl9ugnzs] {
    box-shadow: none;
}
