.input-container{
    display: flex;
    border-radius: 50px;
}

.left{
    display:flex;
    flex-direction:column;
    flex:1;
}

.middle {
    display: flex;
    flex-direction: column;
    flex: 1;
}

.right {
    display: flex;
    flex-direction: column;
    flex: 1;
}

.btn{
    margin: 1rem;
}